<!-- BEGIN: main -->
<script src="../../../../../{FDSOIL}/js/keypad.js"></script>
<div id='sub_titulo'>Cambio de Clave</div>
<form action="../admin_usuario_change_pswd_forced/save/" name="form" method="POST">  
<!--input 	id="id_usuario" name="usuario" type='hidden' value='{ID_USUARIO}'-->         
    <div id='id_div_val_data' align='center' style='display:none;'>
        <table class="tabla_grid" border=0>
            <tr>
                <th colspan=3>Validación de Datos</th>
            </tr>
	    <tr>
                <td>N° de C.I.:  *</td>
                <td>
                    <select id="id_nacionalidad" 
			name="nacionalidad" 
			onchange="//val_pasaporte();" 
			class=comboBoxNacionalidad 
			style="width: 100%">
                        <option value="V" selected>V</option>
                        <option value="E">E</option>
                   </select>
               </td>
               <td>  
                   <input id="id_cedula" 
			name="cedula" 
			type="text" 
			maxlength="8" 
			style="width: 100%" 
                        onKeyPress="return entero(event);" 
			onblur ="sendValidarCedulaId(nacionalidad.value+this.value);validarPreguntaSecreta();" 
                        autocomplete="off"/>  
			<div id='div_cedula_id' align="center" class='alerta_mensajes'></div>                                      
               </td>
           </tr>
	   <tr>
               <td>Correo electrónico:  *</td>
               <td colspan="2">
	               <input id="id_correo" 
				name="correo" 
				type="email" 
				maxlength="100" 
				title="Indique su correo electrónico" 
	                        style="width: 100%" 
				onblur="val_email(this,'div_correo');sendValidarEmail(this.value);validarPreguntaSecreta();" 
				autocomplete="off">
                        <div id='div_correo' align="center" class='alerta_mensajes'></div>
              </td>
           </tr>
	   <tr>
               <td>Telefono Celular:  *</td>
               <td colspan="2">
                   <input id="id_celular" 
				name="celular" 
				type="text" 
				maxlength="25" 
				title="Indique su Numero de celular" 
		                style="width: 100%"  
				onKeyPress="return entero(event);" sendValidarCelular
				onblur="validarPreguntaSecreta();" 
				onKeyUp="sendValidarCelular(this.value);" 
				autocomplete="off">
                  <div id='div_celular' align="center" class='alerta_mensajes'></div>
              </td>
           </tr>
           <tr style="display:{DISPLAY1};" id="tr_pregunta_seguridad_1">
               <td>Pregunta de Seguridad:</td>
               <td colspan="2">
                   <input id="id_pregunta" 
                      		name="pregunta"
                                type="text"
                                class="campos_recuperar_clave"
                                maxlength="50" 
				autocomplete="off"
				style='background:#D8D8D8';
				readonly>                  
               </td>
           </tr>
           <tr style="display:{DISPLAY1};" id="tr_respuesta_seguridad_1">
               <td>Respuesta de Seguridad:   *</td>
               <td colspan="2">
                   <input id="id_respuesta" 
                          name="respuesta"
                          type="text"
                          class="campos_recuperar_clave" 
                          maxlength="50" 
                          autocomplete="off"
		          onblur=""			  
                          onKeyUp="javascript:this.value=this.value.toUpperCase();sendValidarRespSeguridad(this.value);">  
			    
                   <div id='div_respuesta' align="center" class='alerta_mensajes'></div>
               </td>
           </tr>
       </table>
    	<div class="botonera">
        	<input id=id_regresar type=button value='Salir' onClick="window.location.href = '../admin_acceso/logout.php';">
       		<input id=id_guardar  type=button value='Aceptar' onClick="valDivValData();" >
    	</div>
       </div>
       <div id='id_div_val_update_key' align='center' style='display:none;'>
       <table class="tabla_grid" border=0>
           <tr>
               <th colspan=2>Actualizar Clave de Acceso</th>
            </tr>		
            <tr>
		<td >Clave Anterior:</td>
                <td>
			<input 	id="id_clave1" 
				name="clave1" 
				type="password" 
                                size="35" 
                                style="width: 100%"
                                autocomplete="off"                                 
                                onblur="sendValPswdOld(document.getElementById('id_clave1').value);"
                                maxlength="25">                   
                        <div id='div_clave1' align="center" class='alerta_mensajes'></div>
                </td>
            </tr>

		<tr>
		<td >Nueva Clave:</td>
                <td>
			<INPUT id="id_clave2" 
				name="clave2" 
                                type="password" 
                                maxlength="25" 
				size="35"
       				title="Ingrese la clave con la cual podra ingresar a la aplicación" 					
                                style="width: 100%" 
                                autocomplete="off"                                
                                onblur="valNewClave();">
				<div id='div_clave2' align="center" class='alerta_mensajes'></div>          
                </td>
            </tr>
	    <tr>
		<td>Confirme Nueva Clave:</td>
                <td>
			<INPUT id="id_clave3" 
				name="clave3" 
				type="password" 
				maxlength="25" 
				size="35"
				title="Ingrese nuevamente la clave para confirmación" 
				style="width: 100%" 
				onblur="valNewClaveConfirme();"
                                autocomplete="off">
                        <div id='div_clave3' align="center" class='alerta_mensajes'></div>                  
                </td>
            </tr>
            <tr style="display:{DISPLAY2};" id="tr_pregunta_seguridad_2">
                <td>Pregunta de Seguridad:</td>
                <td colspan="2">
                    <select id="id_pregunta2" name="pregunta_seguridad2" data-validation='select' style="width: 100%"
                     onchange="document.getElementById('div_pregunta2').innerHTML=
                               (document.getElementById('id_pregunta2').value==0)?'Debe Seleccionar una Pregunta...':'';">
                        <option value="0" selected>--Seleccione--</option>
                        <!-- BEGIN: row-->
                        <option>{PREGUNTA}</option>
                        <!-- END: row-->
                    </select>
                    <div id='div_pregunta2' align="center" class='alerta_mensajes'></div>                  
                </td>
            </tr>
                <tr style="display:{DISPLAY2};" id="tr_respuesta_seguridad_2">
                    <td>Respuesta de Seguridad:</td>
                    <td colspan="2">
                        <INPUT id="id_respuesta2" 
                               name="respuesta_seguridad2" 
                               type="text" 
                               maxlength="25"                                                
                               title="Indique su respuesta" 
                               style="width: 100%" 
                               data-format='uppercase'
                               data-constraints='textarea'
                               data-validation='required'
                               autocomplete="off"
                               onKeyUp="javascript:this.value=this.value.toUpperCase();
                                        document.getElementById('div_respuesta2').innerHTML=
                                        (document.getElementById('id_respuesta2').value=='')?'Debe Responder la Pregunta...':'';">
                        <div id='div_respuesta2' align="center" class='alerta_mensajes'></div>                  
                    </td>
                </tr>           
        </table> 
    	<div class="botonera">
        	<input id=id_regresar type=button value='Regresar' onClick="onOffDiv();">
       		<input id=id_guardar  type=button value='Guardar' onClick="valForm();">
    	</div>
    </div>        

</form>
<!-- END: main -->

