<!-- BEGIN: main -->
<div id='sub_titulo'>Construcción de CRUD(s) - (Automáticamente)</div>                                          
<form action="" name="form" method="POST">
    <div style="width:50%;margin-left: 25%;">
        <table style="width:100%;align:center;" border="0">
            <tr>
                <td width="30%">Directorio:</td>
                <td align='left'>
                    <select id="id_dir" name="dir" style="width: 100%;">
                        <option value=null selected>Seleccione...</option>
                        <!--option value={FDSOIL}>{FDSOIL}</option>
                        <option value={APPORG}>{APPORG}</option-->
                        <option value={MYAPP}>{MYAPP}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Eschema:</td>
                <td align='left'>
                    <select id="id_dbSchema" name="dbSchema" onChange="sendGetSchemasAndTablesOfBd(this.value);" style="width: 100%;">
                        <option value=null>Seleccione...</option>
                        <!-- BEGIN: combo_multiple -->
                        <option value={DESCRIPCION}>{DESCRIPCION}</option>
                        <!-- END: combo_multiple -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Tabla:</td>
                <td align='left'>
                    <select id="id_dbTable" name="dbTable" style="width: 100%;">
                        <option value='null'>Seleccione...</option>
                    </select>
                </td>
            </tr>
        </table> 
    </div>
    <div id="id_acordeon" style="margin-left: 35%; width:25%;"></div>
    <input id="id_arrayChk" name="arrayChk" type="hidden">
    <div align="center">
        <table class="botonera">
            <tr>
                <td>  
                    <button id="id_regresar" type=button onClick="window.location.href = '../admin_inicio/';">
                        <img class="accion" src="../../../../../{APPORG}/img/salir.png" align='absmiddle' border="0" >&nbsp;Salir
                    </button>
                </td>
                <td>  
                    <button id="id_guardar" type=button onClick="valEnvio();">
                        <img class="accion" src="../../../../../{APPORG}/img/guardar.png" align='absmiddle' border="0" >&nbsp;Construir
                    </button>
                </td>
            </tr>
        </table>
    </div>
</form>
<!-- END: main -->
