<!-- BEGIN: main -->
<div id="sub_titulo">Lista de Opciones del Menú (Nivel 2)</div>
<table class="tabla_grid" border=0 align="center">
    <tr>
        <th colspan=2>Seleccione los Niveles Antecesores</th>
    </tr>
    <tr>
        <td>Menú (Nivel 0):</td>
        <td>
            <select id="id_nivel_0" name="nivel_0" style='width:460px' onChange='sendComboNivel_1(this.value);'>
                <option value='null' selected>Seleccione...</option>
                <!-- BEGIN: combo_0 -->
                <option value={ID_MENU_0}>{DES_MENU_0}</option>
                <!-- END: combo_0 -->
            </select>   
        </td>
    </tr>
    <tr>
        <td>Menú (Nivel 1):</td>
        <td>
            <select id="id_nivel_1" name="nivel_1" style='width:460px' onChange='sendTablaNivel_2(this.value);valInsert(this.value);'>
                <option value=null selected>Seleccione...</option>
            </select>   
        </td>
    </tr>
</table>
{BUTTON_ADD} 
<table id="tablaRows" class="display" >
    <thead title="Sort..."><th>Orden</th><th>Opción</th><th>Ruta</th><th>Status</th><th>Acción(es)</th></thead>
    <tbody></tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
