<!-- BEGIN: main -->
<h2><span>Estatus</span></h2>
<div style="overflow:auto; background: #D8D8D8;">
    <table style="margin-top:5%; margin-left:10%;">
        <tr>
            <th>Filtrar...</th>
        </tr>
        <tr>
            <td>Estatus</td>
            <td align="left" >
                <table style="width: 100%">
                    <tr>
                        <td align="center">
                            <select id="id_status"
                                    name="status"
                                    multiple size="10"
                                    onDblClick="move('right', this, document.forms[0].status_selected);
                                                getValues(document.forms[0].status_selected, document.forms[0].filtro_status_arreglo);">
                                        <!-- BEGIN: status_less_active -->
                                        <option value="{ID_STATUS}">{DES_STATUS}</option>
                                        <!-- END: status_less_active -->
                            </select>
                        </td>
                        <td align="center">
                            <input type="button"
                                   value=">>"
                                   onclick="move('right', document.forms[0].status, document.forms[0].status_selected);
                                            getValues(document.forms[0].status_selected, document.forms[0].filtro_status_arreglo);"><br>
                            <input  type="button"
                                    value="<<"
                                    onclick="move('left', document.forms[0].status, document.forms[0].status_selected);
                                             getValues(document.forms[0].status_selected, document.forms[0].filtro_status_arreglo);">
                        </td>
                        <td align="center">
                            <select id="id_status_selected"
                                    name="status_selected"
                                    multiple size="10"
                                    onDblClick="move('left', document.forms[0].status, this);
                                                getValues(this, document.forms[0].filtro_status_arreglo);">
                                        <!-- BEGIN: status_only_active -->
                                        <option value="{ID_STATUS}">{DES_STATUS}</option>
                                        <!-- END: status_only_active -->
                            </select>
                            <input  id="filtro_status_arreglo" name="filtro_status_arreglo" type="hidden">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<!-- END: main -->
