<!-- BEGIN: main -->
<h2><span>Cédula</span></h2>
<div style="overflow:auto; background: #D8D8D8;">
    <table style="margin-top:5%; margin-left:10%;">
        <tr>
            <th>Filtrar por...</th>
        </tr>
        <tr>
            <td align="center">
                <table id="id_tbl_ceds" style="width: 100%;">
                    <tr>
                        <td>
                            Cédula: <select id="id_nacionalidad"
                                    name="nacionalidad"
                                    onchange="send_cedula();"
                                    class=comboBoxNacionalidad
                                    style="width: 40%;">
                                    <option value="V" selected>V</option>
                                    <option value="E">E</option>
                            </select>
                        </td>
                        <td>
                            <input id="id_cedula"
                                   name="cedula"
                                   type="text"
                                   maxlength="8"
                                   data-constraints='number'
                                   data-validation='integer'
                                   style="width: 99%"
                                   onchange ="send_cedula();"
                                   autocomplete="off"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" id='resp_saime' style="color:red; font-size: 12px"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id="id_nombre_apellido"
                                   type="text"
                                   name="nombre_apellido"
                                   style="width:100%;"
                                   data-constraints='required'
                                   autocomplete="off"
                                   readonly
                                   onkeyup="javascript:this.value = this.value.toUpperCase();">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <img id='add_saime' src="../../../{APPORG}/img/addnew_off.png"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <select id="id_caja_nombre_apellido"
                                    name="caja_nombre_apellido"
                                    multiple size="5"
                                    style="width: 400px;"
                                    onDblClick="deleteOption();
                                                miGetValues(this, document.getElementById('id_str_arr_caja'));">
                            </select>
                        </td>
                    </tr>
                    <input  id="id_str_arr_caja" name="str_arr_caja" type="hidden">
                </table>
            </td>
        </tr>
    </table>
</div>
<!-- END: main -->
