<!-- BEGIN: main -->
<script type="text/javascript" src="../../../{FDSOIL}/js/keypad.js"></script>
<form name="reg" method="POST" > 
    <input type="hidden" name="controlPasswd" id="id_controlPasswd" value="0">
    <div align="center" id="id_panel_registrar_usuario">
        <table class="tabla_grid" style="width: 50%;">
            <thead>
                <tr>
                    <th colspan="4">Registro de Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>N° de C.I.:</td>
                    <td>
                        <select id="id_nacionalidad" 
                                name="nacionalidad" 
                                class=comboBoxNacionalidad style="width: 98%; text-align: center;">
                            <option value="V" selected>V</option>
                            <option value="E">E</option>
                            <!--option value="P">P</option-->
                        </select>
                    </td>
                    <td>  
                        <input id="id_cedula" 
                               name="cedula" 
                               type="text"  
                               maxlength="8"
                               data-constraints='number'
                               data-validation='integer'
                               style="width: 98%"                                                
                               autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td>Nombre(s):</td>
                    <td colspan="3">
                        <input id="id_nombres" 
                               name="nombres" 
                               type="text"  
                               maxlength="25" 
                               data-format='uppercase'
                               data-constraints='fullname'
                               data-validation='required'
                               style="width: 98%" 
                               readonly
                               autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td>Apellido(s):</td>
                    <td colspan="3">
                        <input id="id_apellidos" 
                               name="apellidos" 
                               type="text" 
                               maxlength="25" 
                               data-format='uppercase'
                               data-constraints='fullname'
                               data-validation='required'
                               style="width: 98%" 
                               readonly                                               
                               autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td>Correo electrónico:</td>
                    <td colspan="3">
                        <input id="id_correo" 
                               name="correo" 
                               type="email" 
                               maxlength="100" 
                               data-format='lowercase'
                               data-constraints='email'
                               data-validation='email'
                               title="Indique su correo electrónico" 
                               style="width: 98%" 
                               autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td style="width:35%;">Celular:</td>
                    <td style="width:20%;">
                        <input type="hidden" 
                               name="id_celular_cod" 
                               id="id_celular_cod"  
                               value="">
                        <input type="text" 
                               name="celular_cod" 
                               id="celular_cod" 
                               value=""
                               style="width:98%;text-align:center;"
                               readonly                                               
                               placeholder="CODIGO"
                               data-constraints='number'
                               data-validation='required'> 
                    </td>
                    <td style="width:80%;">
                        <input id="id_celular" 
                               name="celular" 
                               type="text" 
                               value="" 
                               maxlength="7" 
                               autocomplete="off"
                               title="Indique su Numero de celular"                                               
                               style="width:98%" 
                               data-constraints='number'
                               data-validation='required'>
                    </td>
                </tr>
                <tr>
                    <td>Telefono local:</td>
                    <td style="width:20%;">
                        <input type="hidden" 
                               name="id_local_cod" 
                               id="id_local_cod"  
                               value="">
                        <input type="text" 
                               name="local_cod" 
                               id="local_cod" 
                               value=""
                               style="width:98%;text-align:center;"
                               readonly
                               placeholder="CODIGO"
                               data-constraints='number'
                               data-validation='required'> 
                    </td>
                    <td style="width:80%;">
                        <input id="id_telefono1" 
                               name="telefono1" 
                               type="text" 
                               value="" 
                               maxlength="7" 
                               title="Indique su número de telefono local"                                                
                               style="width:98%" 
                               autocomplete="off"
                               data-constraints='number'
                               data-validation='required'>
                    </td>           
                </tr>
                <tr>
                    <td>Otro Telefono:</td>
                    <td style="width:20%;">
                        <input type="hidden" 
                               name="id_local_cod2"
                               id="id_local_cod2"
                               value="">
                        <input type="text" 
                               name="local_cod2"
                               id="local_cod2"
                               value=""
                               style="width:98%;text-align:center;"
                               readonly
                               placeholder="CODIGO"> 
                    </td>
                    <td style="width:80%;">
                        <input id="id_telefono2" 
                               name="telefono2" 
                               type="text" 
                               value="" 
                               maxlength="7" 
                               title="Indique su numero de telefono local" 
                               data-constraints='number'
                               autocomplete="off"
                               style="width:98%">
                    </td>
                </tr>
                <tr>
                    <td>Nombre de Usuario:</td>
                    <td colspan="3">
                        <input id="id_usuario" 
                               name="usuario" 
                               type="text" 
                               maxlength="25" 
                               data-format='lowercase'
                               data-constraints='username'
                               data-validation='required'
                               title="Indique un nombre de usuario para ingresar a la aplicacion" 
                               style="width: 98%" 
                               autocomplete="off">
                        <div id="div_usuario" align="center" class='alerta_mensajes'></div>    
                    </td>
                </tr>
                <tr>
                    <td>Clave de acceso:</td>
                    <td colspan="3">
                        <input id="id_clave" 
                               name="clave" 
                               type="password" 
                               maxlength="25"
                               data-validation='required'
                               title="Ingrese la clave con la cual podra ingresar a la aplicación" 
                               style="width: 98%" 
                               autocomplete="off">
                        <div id='div_clave' align="center" class='alerta_mensajes'></div>
                    </td>
                </tr>
                <tr>
                    <td>Confirme contraseña:</td>
                    <td colspan="3">
                        <input id="id_clave2" 
                               name="clave2" 
                               type="password" 
                               maxlength="25" 
                               data-validation='required'
                               title="Ingrese nuevamente la clave para confirmación" 
                               style="width: 98%" 
                               autocomplete="off">
                        <div id='div_clave2' align="center" class='alerta_mensajes'></div>
                    </td>
                </tr>
                <tr>
                    <td>Pregunta de Seguridad:</td>
                    <td colspan="3">
                        <select id="id_pregunta" name="pregunta_seguridad" data-validation='select' style="width: 98%">
                            <option value="0" selected>--Seleccione--</option>
                            <!-- BEGIN: row-->
                            <option>{PREGUNTA}</option>
                            <!-- END: row-->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Respuesta de Seguridad:</td>
                    <td colspan="3">
                        <input id="id_respuesta" 
                               name="respuesta_seguridad" 
                               type="text" 
                               maxlength="25"                                                
                               title="Indique su respuesta" 
                               style="width: 98%" 
                               data-format='uppercase'
                               data-constraints='textarea'
                               data-validation='required'
                               autocomplete="off">
                    </td>
                </tr>

                <tr>
                    <td>Introduzca el código...</td>
                    <td><div id="txtCaptcha"></div></td>
                    <td>
                        <img src="../../../{APPORG}/img/refresh.png"
                             class="accion"
                             id="btnrefresh"      
                             onclick="drawCaptcha();document.getElementById('txtInput').value='';" 
                             title="Refrescar"
                             style="cursor: pointer;">
                    </td>
                </tr>
                <tr>
                    <td><label for='name'>...en este campo:</label></td>
                    <td colspan="3">                        
                        <input type="text" 
                               id="txtInput" 
                               style="width: 100%;" 
                               autocomplete="off"
                               data-constraints='code'
                               data-validation='length'
                               data-validation-length='8'
                               />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div  class="botonera">
        <button id="id_salir" type=button title="Salir" style="cursor:pointer;">
            <img class="accion" src="../../../../../{APPORG}/img/salir.png" align='absmiddle' border="0">&nbsp;Salir
        </button>
        <button type=button id="id_Guardar" name="Guardar" title="Guardar" style="cursor:pointer;"> 
            <img class="accion" align="absmiddle" border="0" src="../../../../../{APPORG}/img/guardar.png">&nbsp;Guardar
        </button>
    </div>
</form>
<div  id='id_fondo_opaco'  class="fondo_opaco" style="display:none"></div>
<!-- END: main -->

