<!-- BEGIN: main -->
<script src="../../../../../{FDSOIL}/js/keypad.js"></script>
<div id='sub_titulo'>Cambio de Clave</div>
<form action="../admin_usuario_change_pswd/save/" name="form" method="POST">  
    <input id="id_usuario" name="usuario" type='hidden' value='{ID_USUARIO}'>         
    <div class=divGroupField align='center'>
        <table class="tabla_grid" border=0>
            <tr>
                <th colspan=2>Actualizar Clave de Acceso</th>
            </tr>		
            <tr>
                <td>Clave Anterior:</td>
                <td>
                    <input id="id_clave1" 
                           name="clave1" 
                           type="password" 
                           size="35"  				
                           maxlength="25"                                
                           onblur="sendValPswdOld(document.getElementById('id_usuario').value, 
                                                  document.getElementById('id_clave1').value);">
                    <div id='div_clave1' align="center" class='alerta_mensajes'></div>
                </td>
            </tr>
            <tr>
                <td>Nueva Clave:</td>
                <td>
                    <input id="id_clave2" 
                           name="clave2" 
                           type="password" 
                           maxlength="25" 
                           size="35"
                           title="Ingrese la clave con la cual podra ingresar a la aplicación" 
                           style="width: 100%" 
                           autocomplete="off"
                           onblur="valNewClave();"
                           onfocus="valNewClave();">
                    <div id='div_clave2' align="center" class='alerta_mensajes'></div>          
                </td>
            </tr>
            <tr>
                <td>Confirme Nueva Clave:</td>
                <td>
                    <input id="id_clave3" 
                           name="clave3" 
                           type="password" 
                           maxlength="25" 
                           size="35"
                           title="Ingrese nuevamente la clave para confirmación" 
                           style="width: 100%" 
                           autocomplete="off"
                           onblur="valNewClaveConfirme();"
                           onfocus="valNewClaveConfirme();">
                    <div id='div_clave3' align="center" class='alerta_mensajes'></div>                  
                </td>
            </tr>
        </table> 
    </div>
    {BUTTONS_PANEL}
</form>
<!-- END: main -->
