<!-- BEGIN: main -->
<div id='sub_titulo'>Actualizar Perfil</div>
<form action="../admin_roles_aux/save/" name="form" method="POST"> 
    <input id="id_rol" type=hidden name=id_rol value={ID}>
    <input id="id_str_array_n0" type=hidden name=str_array_n0>   
    <input id="id_str_array_n1" type=hidden name=str_array_n1>   
    <input id="id_str_array_n2" type=hidden name=str_array_n2>   
    <input id="id_str_array_n3" type=hidden name=str_array_n3>   
    <div class=divGroupField align='center'>
        <table class="tabla_grid" border='0'>
            <tr>
                 <th colspan=2>Indique los Datos</th>
            </tr>
            <tr>
                <td>Perfil del Usuario:</td>
                <td>
                    <input id="id_rol_name" 
                           type=text 
                           name="rol_name" 
                           size="32" 
                           onkeyup="javascript:this.value=this.value.toUpperCase();" 
                           value="{ROL_NAME}">
                </td>
            </tr>
            <tr>
                <td>Página de Inicio:</td>
                <td>
                    <input id="id_pag_ini_default" 
                           type=text 
                           name="pag_ini_default" 
                           size="32" 
                           value="{ROL_PAG_INI_DEFAULT}">
                </td>
            </tr>
            <tr>
                <td>Estatus del Perfil:</td>
                <td>
                    <select id="id_status" name="status" style='width:100%'>
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: status -->
                        <option value={ID_STATUS} {SELECTED_STATUS}>{DES_STATUS}</option>
                        <!-- END: status -->
                    </select>    
                </td>
            </tr>
        </table> 
    </div>
    <br>
    <div class=divGroupField align='center'>
        <table class="tabla_grid" id="tbl" border='0'>
            <tr>
                <th colspan=7>Seleccione los Permiso(s) del Menú</th>
            </tr>		
        </table> 
    </div>
   {BUTTONS_PANEL}
</form>
<!-- END: main -->
