<!-- BEGIN: main -->
<div id='sub_titulo'>Actualizar Registro de Usuario</div>
<form name="reg" method="POST" >
    <input type=hidden id="id_usuario_reg" name="id_usuario_reg" value={ID}>
    <input type="hidden" name="controlPasswd" id="id_controlPasswd" value="0">
    <div align="center" id="id_panel_registrar_usuario">
        <table class="tabla_grid" style="width: 600px;">
            <thead>
                <tr>
                    <th colspan="3">Registro de Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>N° de C.I.:</td>
                    <td>
                        <select id="id_nacionalidad"
                                name="nacionalidad"
                                {NAC_CEDULA_USUARIO_BLOCK}
                                onchange="val_pasaporte();"
                                class="comboBoxNacionalidad"
                                style="width: 100%; text-align: center;"
                                {NAC_CEDULA_USUARIO_READONLY}>
                            <option value="V" {SELECTED_V}>V</option>
                            <option value="E" {SELECTED_E}>E</option>
                            <!--option value="P">P</option-->
                        </select>
                    </td>
                    <td>
                        <input id="id_cedula"
                               name="cedula"
                               value="{CEDULA_USUARIO}"
                               type="text"
                               maxlength="8"
                               {CEDULA_USUARIO_BLOCK}
                               data-constraints='number'
                               data-validation='integer'
                               style="width: 97%"
                               onchange ="sendCedula(nacionalidad.value, this.value);"
                               autocomplete="off"
                               placeholder="########"/>
                    </td>
                </tr>
                <tr>
                    <td>Nombre(s):</td>
                    <td colspan="2">
                        <input id="id_nombres"
                               name="nombres"
                               value="{NOMBRE_USUARIO}"
                               {NOMBRE_USUARIO_READONLY}
                               type="text"
                               maxlength="25"
                               data-format='uppercase'
                               data-constraints='fullname'
                               data-validation='required'
                               style="width: 98%"
                               autocomplete="off"
                               placeholder="REQUERIDO"/>
                    </td>
                </tr>
                <tr>
                    <td>Apellido(s):</td>
                    <td colspan="2">
                        <input id="id_apellidos"
                               name="apellidos"
                               value="{APELLIDO_USUARIO}"
                               {APELLIDO_USUARIO_READONLY}
                               type="text"
                               maxlength="25"
                               data-format='uppercase'
                               data-constraints='fullname'
                               data-validation='required'
                               style="width: 98%"
                               autocomplete="off"
                               placeholder="REQUERIDO">
                    </td>
                </tr>
                <tr>
                    <td>Nombre de Usuario:</td>
                    <td colspan="2">
                        <input onKeyPress="return acceptStrUsuario(event);"
                               id="id_usuario"
                               name="usuario"
                               value="{USUARIO_USUARIO}"
                               {NOMBRE_USUARIO_READONLY}
                               type="text"
                               maxlength="25"
                               data-format='lowercase'
                               data-constraints='username'
                               data-validation='required'
                               title="Indique un nombre de usuario para ingresar a la aplicacion"
                               style="width: 98%"
                               onkeyup="send_usuario(this.value);"
                               autocomplete="off"
                               placeholder="requerido">
                        <div id="div_usuario" align="center" class='alerta_mensajes'></div>
                    </td>
                </tr>
                <tr>
                    <td>Correo electrónico:</td>
                    <td colspan="2">
                        <input id="id_correo"
                               name="correo"
                               value="{CORREO_USUARIO}"
                               {CORREO_USUARIO_BLOCK}
                               type="email"
                               maxlength="100"
                               data-format='lowercase'
                               data-constraints='email'
                               data-validation='email'
                               title="Indique su correo electrónico"
                               style="width: 98%"
                               autocomplete="off"
                               placeholder="correo@dominio.ext">
                    </td>
                </tr>
                <tr>
                    <td style="width:35%;">Celular:</td>
                    <td style="width:20%;">
                        <input type="hidden"
                               name="id_celular_cod"
                               id="id_celular_cod"
                               value="{COD_CELULAR_USUARIO}">
                        <input type="text"
                               name="celular_cod"
                               id="celular_cod"
                               value="{COD_CELULAR_USUARIO}"
                               style="width:100%;text-align:center;"
                               onclick="{COD_CELULAR_USUARIO_ONCLICK}"
                               readonly
                               placeholder="CODIGO"
                               data-constraints='number'
                               data-validation='required'>
                    </td>
                    <td style="width:80%;">
                        <input id="id_celular"
                               name="celular"
                               type="text"
                               value="{CELULAR_USUARIO}"
                               maxlength="7"
                               autocomplete="off"
                               title="Indique su Numero de celular"
                               onKeyPress="return acceptNum(event);"
                               style="width:97%"
                               data-constraints='number'
                               data-validation='required'
                               placeholder="#######"
                               {CELULAR_USUARIO_READONLY}>
                    </td>
                </tr>
                <tr>
                    <td>Telefono local:</td>
                    <td style="width:20%;">
                        <input type="hidden"
                               name="id_local_cod"
                               id="id_local_cod"
                               value="{COD_TELEFONO1_USUARIO}">
                        <input type="text"
                               name="local_cod"
                               id="local_cod"
                               value="{COD_TELEFONO1_USUARIO}"
                               style="width:100%;text-align:center;"
                               onclick="{COD_TELEFONO1_USUARIO_ONCLICK}"
                               readonly
                               placeholder="CODIGO"
                               data-constraints='number'
                               data-validation='required'>
                    </td>
                    <td style="width:80%;">
                        <input id="id_telefono1"
                               name="telefono1"
                               type="text"
                               value="{TELEFONO1_USUARIO}"
                               maxlength="7"
                               title="Indique su numero de telefono local"
                               onKeyPress="return acceptNum(event);"
                               style="width:97%"
                               autocomplete="off"
                               data-constraints='number'
                               data-validation='required'
                               placeholder="#######"
                               {TELEFONO1_USUARIO_READONLY}>
                    </td>
                </tr>
                <tr>
                    <td>Otro Telefono:</td>
                    <td style="width:20%;">
                        <input type="hidden"
                               name="id_local_cod2"
                               id="id_local_cod2"
                               value="{COD_TELEFONO2_USUARIO}">
                        <input type="text"
                               name="local_cod2"
                               id="local_cod2"
                               value="{COD_TELEFONO2_USUARIO}"
                               style="width:100%;text-align:center;"
                               onclick="{COD_TELEFONO2_USUARIO_ONCLICK}"
                               readonly
                               placeholder="CODIGO">
                    </td>
                    <td style="width:80%;">
                        <input id="id_telefono2"
                               name="telefono2"
                               type="text"
                               value="{TELEFONO2_USUARIO}"
                               maxlength="7"
                               title="Indique su numero de telefono local"
                               data-constraints='number'
                               autocomplete="off"
                               style="width:97%"
                               placeholder="#######"
                               {TELEFONO2_USUARIO_READONLY}>
                    </td>
                </tr>
                <tr>
                    <td>Perfil del Usuario:  *</td>
                    <td colspan="2">
                        <select id="id_rol_usuario"
                                name="rol_usuario"
                                data-validation='select'
                                style="width: 100%">
                            <option value="0" selected>--Seleccione--</option>
                            <!-- BEGIN: row_rol-->
                            <option value="{ID_ROL_USUARIO}" {VAL_ROL_USUARIO}>{DES_ROL_USUARIO}</option>
                            <!-- END: row_rol-->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Estatus:  *</td>
                    <td colspan="2">
                        <select id="id_status"
                                name="status"
                                data-validation='select'
                                style="width: 100%">
                            <option value="0" selected>--Seleccione--</option>
                            <!-- BEGIN: row_status -->
                            <option value="{ID_STATUS}" {VAL_STATUS}>{DES_STATUS}</option>
                            <!-- END: row_status -->
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {BUTTONS_PANEL}
</form>
<div  id='id_fondo_opaco'  class="fondo_opaco" style="display:none"></div>
<!-- END: main -->
