<!-- BEGIN: main -->
<div class="div_datos_usuario_empresa" >
    <div style="float:left;text-align: left; width:35%;">
        <table class="tabla_datos_usuario" width="100%" border="0">
            <tr>
                <!--td class='subtitulo_datos' width="30%" valign="top" align="left">Id:</td-->
                <td class='datos_per_entrada' width="70%" valign="top" align="left">{CEDULA}</td>
            <tr>
                <!--td class='subtitulo_datos' width="30%" valign="top" align="left">Usuario:</td-->
                <td class='datos_per_entrada' width="70%" valign="top" align="left">{NOMBRE_APELLIDO}</td>
            </tr>
        </table>
    </div>
    <div style="float:right;text-align:right; width:35%;">
        <table class="tabla_datos_usuario" width="100%" border="0">
            <tr>
                <td class='subtitulo_datos' width="30%" valign="top" align="left">{TITLE_USUARIO_AUX_1}</td>
                <td class='datos_per_entrada' width="70%" valign="top" align="left">{VALUE_USUARIO_AUX_1}</td> 
            </tr>
            <tr>
                <td class='subtitulo_datos'  width="30%" valign="top" align="left">{TITLE_USUARIO_AUX_2}</td>
                <td class='datos_per_entrada' width="70%" valign="top" align="left">{VALUE_USUARIO_AUX_2}</td>
            </tr>        
        </table>
    </div>
</div>
<!-- END: main -->
