<!-- BEGIN: main -->
<div id='sub_titulo'>Actualizar Mis Datos</div>
<form name="reg" method="POST" action="../admin_usuario_row_usuario/save/">
    <input id="id_usuario" type=hidden name="id_usuario" value={ID}>
    <div align="center">
        <table class="tabla_grid" style="width:50%;">
            <thead>
                <tr>
                    <th colspan="3">Registro de Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>N° de C.I.:</td>
                    <td colspan="2">
                        <input id="id_cedula"
                               name="cedula"
                               type="text"
                               maxlength="18"
                               style="width: 100%"
                               value="{CEDULA_USUARIO}"
                               onKeyPress="return entero(event);"
                               onchange ="send_cedula(nacionalidad.value,this.value);"
                               autocomplete="off"
                               disabled/>
                        <div id='div_cedula' align="center" class='alerta_mensajes'></div>
                    </td>
                </tr>
                <tr>
                    <td>Nombre(s):</td>
                    <td colspan="2">
                        <input id="id_nombres"
                               name="nombres"
                               type="text"
                               maxlength="25"
                               style="width: 100%"
                               value="{NOMBRE_USUARIO}"
                               onKeyUp="javascript:this.value=this.value.toUpperCase();"
                               disabled/>
                        <div id='div_nombre' align="center" class='alerta_mensajes'></div>
                    </td>
                </tr>
                <tr>
                    <td>Apellido(s):</td>
                    <td colspan="2">
                        <input id="id_apellidos"
                               name="apellidos"
                               type="text"
                               maxlength="25"
                               style="width: 100%"
                               value="{APELLIDO_USUARIO}"
                               onKeyUp="javascript:this.value=this.value.toUpperCase();"
                               autocomplete="off"
                               disabled>
                        <div id='div_apellido' align="center" class='alerta_mensajes'></div>
                    </td>
                </tr>
                <tr>
                    <td>Nombre de Usuario:</td>
                    <td colspan="2">
                        <input id="id_usuario"
                               name="usuario"
                               type="text"
                               maxlength="25"
                               title="Indique un nombre de usuario para ingresar a la aplicacion"
                               style="width: 100%"
                               value="{USUARIO_USUARIO}"
                               onkeyup="send_usuario(this.value);"
                               autocomplete="off"
                               disabled>
                        <div id='div_usuario' align="center" class='alerta_mensajes'></div>
                    </td>
                </tr>
                <tr>
                    <td>Correo Electrónico:</td>
                    <td colspan="2">
                        <input id="id_correo"
                               name="correo"
                               type="email"
                               maxlength="100"
                               title="Indique su correo electrónico"
                               style="width: 100%"
                               value="{CORREO_USUARIO}"
                               onblur="val_email(this,'div_correo')"
                               autocomplete="off">
                        <div id='div_correo' align="center" class='alerta_mensajes'></div>
                    </td>
                </tr>
                <tr>
                    <td>Celular:</td>
                    <td style="width:15%;">
                        <input type="hidden"
                               name="id_celular_cod"
                               id="id_celular_cod"
                               value="{COD_CELULAR_USUARIO}">
                        <input type="text"
                               name="celular_cod"
                               id="celular_cod"
                               value="{COD_CELULAR_USUARIO}"
                               style="width:100%;text-align:center;"
                               onclick="{COD_CELULAR_USUARIO_ONCLICK}"
                               readonly
                               placeholder="CODIGO"
                               data-constraints='number'
                               data-validation='required'>
                    </td>
                    <td>
                        <input id="id_celular"
                               name="celular"
                               type="text"
                               value="{CELULAR_USUARIO}"
                               maxlength="7"
                               autocomplete="off"
                               title="Indique su Numero de celular"
                               style="width:97%"
                               data-constraints='number'
                               data-validation="length"
                               data-validation-length="7"
                               placeholder="#######"
                               {CELULAR_USUARIO_READONLY}>
                    </td>
                </tr>
                <tr>
                    <td>Teléfono:</td>
                    <td style="width:15%;">
                        <input type="hidden"
                               name="id_local_cod"
                               id="id_local_cod"
                               value="{COD_TELEFONO1_USUARIO}">
                        <input type="text"
                               name="local_cod"
                               id="local_cod"
                               value="{COD_TELEFONO1_USUARIO}"
                               style="width:100%;text-align:center;"
                               onclick="{COD_TELEFONO1_USUARIO_ONCLICK}"
                               readonly
                               placeholder="CODIGO"
                               data-constraints='number'
                               data-validation='required'>
                    </td>
                    <td>
                        <input id="id_telefono1"
                               name="telefono1"
                               type="text"
                               value="{TELEFONO1_USUARIO}"
                               maxlength="7"
                               title="Indique su número de teléfono local"
                               onKeyPress="return acceptNum(event);"
                               style="width:97%"
                               autocomplete="off"
                               data-constraints='number'
                               data-validation="length"
                               data-validation-length="7"
                               placeholder="#######">
                    </td>
                </tr>
                <tr>
                    <td>Otro Teléfono:</td>
                   <td style="width:15%;">
                        <input type="hidden"
                               name="id_local_cod2"
                               id="id_local_cod2"
                               value="{COD_TELEFONO2_USUARIO}">
                        <input type="text"
                               name="local_cod2"
                               id="local_cod2"
                               value="{COD_TELEFONO2_USUARIO}"
                               style="width:100%;text-align:center;"
                               onclick="{COD_TELEFONO2_USUARIO_ONCLICK}"
                               readonly
                               placeholder="CODIGO"
                               data-constraints='number'>
                    </td>
                    <td>
                        <input id="id_telefono2"
                               name="telefono2"
                               type="text"
                               value="{TELEFONO2_USUARIO}"
                               maxlength="7"
                               title="Indique otro número de teléfono local"
                               style="width:97%"
                               autocomplete="off"
                               onKeyPress="return acceptNum(event);"
                               data-constraints='number'
                               placeholder="#######">
                    </td>
                </tr>
                <tr>
                    <td>Pregunta de Seguridad:</td>
                    <td colspan="2">
                        <select id="id_pregunta" name="pregunta_seguridad" style="width: 100%">
                            <option value="0" selected>--Seleccione--</option>
                            <!-- BEGIN: row-->
                            <option {PREGUNTA_SELECTED}>{PREGUNTA}</option>
                            <!-- END: row-->
                        </select>
                        <div id='div_pregunta' align="center" class='alerta_mensajes'></div>
                    </td>
                </tr>
                <tr>
                <td>Respuesta de Seguridad:</td>
                    <td colspan="2">
                        <input id="id_respuesta"
                               name="respuesta_seguridad"
                               type="text"
                               maxlength="25"
                               title="Indique su respuesta"
                               style="width: 100%"
                               value="{RESPUESTA_SEGURIDAD_USUARIO}"
                               onkeyup="javascript:this.value=this.value.toUpperCase();"
                               autocomplete="off">
                        <div id='div_respuesta' align="center" class='alerta_mensajes'></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {BUTTONS_PANEL}
</form>
<div  id='id_fondo_opaco'  class="fondo_opaco" style="display:none"></div>
<!-- END: main -->
