<!-- BEGIN: main -->
<div id="sub_titulo">Perfiles de Usuarios</div>
{BUTTON_ADD}
<table id="tablaRows" class="display" >
    <thead>	
        <tr>
            <th>Descripción</th><th>Pág&nbsp;Inicio</th><th>Acción(es)</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>	
            <td width=40%>{DESCRIPCION}</td>
            <td width=40%>{PAG_INI}</td>								
            <td width=20% align=center>
                {BUTTON_EDIT}
                {BUTTON_DELETE}                                  
            </td>
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
