<!-- BEGIN: main -->
<div id='sub_titulo'>Actualizar Registro del Menú (Nivel 1)</div>
<form action="../admin_menu_1n_aux/save/" name="form" method="POST">    
    <input id="id_n0" name="id_n0" type='hidden' value='{ID_OPCION_0}'>     
    <input id="id_row" name="id_row" type='hidden' value='{ID_ROW}'>    
    <div class=divGroupField align='center'>
        <table class="tabla_grid" border=0>
            <tr>
                <th colspan=4>Datos del Menú (Nivel 1)</th>
            </tr>
            <tr>
                <td colspan=1>Nivel 0:</td>
                <td colspan=2 style="color:#8B0000">{DES_OPCION_0}</td>
            </tr>
            <tr>
                <td colspan=1>Opción:</td>
                <td colspan=3>
                    <input id="id_opcion" name="opcion" size="90" value="{OPCION}" maxlength="90">
                </td>
            </tr>
            <tr>
                <td colspan=1>Ruta:</td>
                <td colspan=3>
                    <input id="id_ruta" name="ruta" size="90" value="{RUTA}" maxlength="90">
                </td>
            </tr>
            <tr>
                <td>Orden:</td>
                <td>
                    <input id="id_orden" name="orden" size="30" value="{ORDEN}" maxlength="90" onKeyPress="return acceptNum(event);">
                </td>
		<td>Estatus:</td>
                <td>
		    <select id="id_status" name="status" style='width:460px'>
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: status -->
                        <option value={ID_STATUS} {SELECTED_STATUS}>{DES_STATUS}</option>
                        <!-- END: status -->
                    </select>               
                </td>
            </tr>
        </table> 
    </div>    
    {BUTTONS_PANEL}
</form>
<!-- END: main -->
