<!-- BEGIN: main -->
<div id="sub_titulo">Lista de Opciones del Menú (Nivel 0)</div>
{BUTTON_ADD}
<table id="tablaRows" class="display" >
    <thead title="Sort...">	
        <tr>
            <th>Orden</th><th>Opción</th><th>Ruta</th><th>Status</th><th>Acción(es)</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>	                                
            <td>{ORDEN}</td>
            <td>{OPCION}</td>
            <td>{RUTA}</td>				
            <td>{STATUS}</td>
            <td align="center">
                {BUTTON_EDIT}
                {BUTTON_DELETE}
            </td>
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
